.list-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 6px;
    background: white;
}

.listproduct-format-main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 30px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.listproduct-format{
    align-items: center;
    font-weight: 500;
}

.listproduct-product-icon{
    height: 80px;
}

.listproduct-remove-icon{
    cursor: pointer;
    margin: auto;
}

.listproduct-allproducts{
    overflow-y:auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .modal-buttons {
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
  }
  
  .success-alert {
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
  }
  